$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?04e4f145f5d014deec700576590f829d") format("truetype"),
url("./flaticon.woff?04e4f145f5d014deec700576590f829d") format("woff"),
url("./flaticon.woff2?04e4f145f5d014deec700576590f829d") format("woff2"),
url("./flaticon.eot?04e4f145f5d014deec700576590f829d#iefix") format("embedded-opentype"),
url("./flaticon.svg?04e4f145f5d014deec700576590f829d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "exercise": "\f101",
    "yoga": "\f102",
    "exercise-with-dumbbell": "\f103",
    "man-vending-knees": "\f104",
    "man-vending-down-legs": "\f105",
    "exercise-1": "\f106",
    "cardio-1": "\f107",
    "stationary-bike": "\f108",
);

.flaticon-exercise:before {
    content: map-get($flaticon-map, "exercise");
}
.flaticon-yoga:before {
    content: map-get($flaticon-map, "yoga");
}
.flaticon-exercise-with-dumbbell:before {
    content: map-get($flaticon-map, "exercise-with-dumbbell");
}
.flaticon-man-vending-knees:before {
    content: map-get($flaticon-map, "man-vending-knees");
}
.flaticon-man-vending-down-legs:before {
    content: map-get($flaticon-map, "man-vending-down-legs");
}
.flaticon-exercise-1:before {
    content: map-get($flaticon-map, "exercise-1");
}
.flaticon-cardio-1:before {
    content: map-get($flaticon-map, "cardio-1");
}
.flaticon-stationary-bike:before {
    content: map-get($flaticon-map, "stationary-bike");
}
