* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;

}

a {
    display: inline-block;
    text-decoration: none;

}

h1,
h2,
h3,
h4 h5,
h6,
ul,
ol,
p,
li {
    margin: 0;
    padding: 0;
}

:root {
    --hover: #e23e38;

}

.transition {

    transition: all linear.3s;
}

.main_overly {
    position: relative;
    z-index: 1;
}

.main_overly:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* ===============================
    commn css end
==================================*/

/* ===============================
        menu part start
===================================*/
.main_menu {
    height: 50px;
    background: rgba(53, 53, 53, 0.25);
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    z-index: 999;
}

.main_menu ul li a {
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Oswald', sans-serif;
    padding: 0 13px;
    line-height: 50px;
    position: relative;
}

.main_menu ul li a:hover {

    background: #fff;
    color: #222;
}

.main_menu ul li a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: var(--hover);
    transition: all linear.3s;

}


.main_menu ul li a:hover:after {
    width: 100%;
}

.main_menu .navbar-brand {
    width: 245px;
    height: 70px;
    background: #323232;
    text-align: center;
    line-height: 70px;
    transform: skew(-35deg);
    position: relative;
}

.main_menu .navbar-brand img {
    transform: skew(35deg);
}

.main_menu .navbar-brand:after,
.main_menu .navbar-brand:before {
    position: absolute;
    content: '';
    top: 0;
    width: 4px;
    height: 100%;
    background: rgb(99, 98, 98);
}

.main_menu .navbar-brand:after {
    right: 0;
}

.main_menu .navbar-brand:before {
    left: 0;
}




/* ================================
        menu part start
===================================*/
/* =================================
    banner part start
====================================*/
.banner_item {
    padding: 255px 0 115px;
}

.banner_item:after {
    background: rgba(0, 0, 0, 0.6);
}

.text_item h2 {
    position: relative;
}

.text_item h2::after,
.text_item h2::before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(50%);
    background: var(--hover);
    height: 3px;
}

.text_item h2::after {
    right: -8px;
    width: 109px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 5% 100%);
}

.text_item h2::before {
    left: -8px;
    width: 187px;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0 100%);
}

.text_item h1 {
    position: relative;


}

.text_item h1::after,
.text_item h1::before {
    position: absolute;
    content: '';
    top: -17px;
    width: 3px;
    background: var(--hover);
}

.text_item h1::after {
    right: -11px;
    height: 196px;
}

.text_item h1::before {
    left: -11px;
    height: 193px;
}

.text_item p {
    position: relative;
}

.text_item p::after,
.text_item p::before {
    position: absolute;
    content: '';
    bottom: -56px;
    height: 3px;
    background: var(--hover);
}



.text_item p::after {
    right: -8px;
    width: 126px;
}

.text_item p::before {
    left: 24px;
    width: 115px;
}

.text_item h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;

}

.text_item h1 {
    color: #e23e38;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;

}

.text_item p {
    color: #dddddd;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

}

.text_item a {
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;

    padding: 0 20px;
    margin-right: 30px;

    transition: all linear.3s;
    border: 1px solid#fff;
    border-color: #fff;

}

.text_item a:hover {
    background: var(--hover);
    border-color: var(--hover);

}

#banner .slick-dots li button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
    background: transparent;


}

#banner .slick-dots {
    display: flex;
    position: absolute;
    left: 49%;
    bottom: 30px;
    transform: translateX(-50%);
    padding: 0;


}

#banner .slick-dots li.slick-active button {
    width: 20px;
    height: 20px;
    background: var(--hover);
    border-color: var(--hover);
}

/* =================================
    banner part end
====================================*/
/* ================================
    about part start
==================================*/
#about_part {
    padding: 80px 0;
}

.video_part {
    position: relative;
}

.video_part .overly {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.video_part .overly a {
    width: 50px;
    height: 47px;
    background: var(--hover);
    text-align: center;
    line-height: 47px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;

}

.text_part h2 {
    font-size: 22px;
    font-weight: 400;
    color: #222222;
    font-family: 'Oswald', sans-serif;

}

.text_part p {
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    padding-right: 32px;
}

.text_part span {
    display: block;
    margin-top: 10px;
}

/* ===============================
    about part end
==================================*/
/* ===============================
    gallery part start
==================================*/
.gym_part {
    padding: 30px 0;
}

.gym_part:after {
    background: rgba(0, 0, 0, 0.6);
}

.gal_img:first-child {
    margin-bottom: 24px;
}

.gal_img {
    position: relative;
}

.gal_img .overly {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(226, 60, 54, 0.5);
    border: 5px solid#ffff;
    transform: scale(0);

}

.gal_img .overly a {
    position: absolute;
    color: #fff;
    font-size: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gal_img:hover .overly {
    transform: scale(1);

}

/* ==============================
    gallery part end
=================================*/

/* =================================
   team part start
====================================*/
#team_part {
    padding: 80px 0;
}

.img_part {
    position: relative;
}

.img_part .overly {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(226, 60, 54, 0.5);
    border: 5px solid#ffff;
    transform: scale(0);
    transition: all linear.3s;


}

.img_part .overly ul {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

}

.img_part .overly ul li a {
    line-height: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}

.img_part .overly ul li a:hover {
    background: #ffff;
    color: blue;
    transition: all linear.3s;
}

.main_team:hover .img_part .overly {
    transform: scale(1);
}

.main_team {
    padding-top: 72px;
}

.main_team:hover {
    transform: translateY(-42px);
    transition: all linear.3s;
}

.main_team .text_part p {
    transform: scale(0);
}

.text_part {
    border: 1px solid transparent;
}

.main_team:hover .text_part p {
    transform: scale(1);
}

.main_team:hover .text_part {
    border-color: #ddd;
}

/* ==================================
   team part end
=====================================*/
/* =================================
    testimonial part start
===================================*/
.test_bg {
    padding: 30px 0 80px;
}

.test_bg:after {
    background: rgba(0, 0, 0, 0.8);
}

.test_slider .slick-slide {
    padding: 0 15px;
}

.test_slider .slick-dots li button {
    font-size: 0;
    width: 16px;
    height: 16px;

    background: transparent;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    margin: 0 5px;


}

.test_slider .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: auto;





}

.test_slider .slick-dots li.slick-active button {
    width: 25px;
    height: 25px;
    background: var(--hover);
    border-color: var(--hover);


}


.test_bg {
    margin-top: 25px;
}

/* ===============================
    testimonial part end
==================================*/

/* =================================
    menmbership part start
====================================*/
#member_part {
    padding: 80px 0;
}

.member_img:after {
    background: rgba(0, 0, 0, 0.8);


}

.member_text:hover {
    background: #e23e38;

}

.member_text h2 {
    padding: 20px 0;
    background: #dddd;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.member_text ul {
    background: #f1f1f1;
    padding: 40px 0;

}

.member_text ul li {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}

.member_text h3 {
    color: #ffff;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

.member_text h3 span {
    font-size: 29px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;

}

.member_text a {
    background: #dddd;
    padding: 10px 0;
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: #222222;

}

.common_head img {
    padding-bottom: 30px;
}

.common_head h4 {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;

}

/* ==================================
    menmbership part end
=====================================*/

/* ==================================
     counter part start
=====================================*/
#counter_part {
    padding: 40px 0;
}

#counter_part:after {
    background: rgba(0, 0, 0, 0.9);
}

/* ===================================
     counter part end
======================================*/

/* ===================================
    class part start
======================================*/
#class_part {
    padding: 80px 0;
}

.class_menu li {
    width: 16.6666%;
    line-height: 50px;
    background: #f1f1f1;
    text-align: center;


}

.class_menu .nav-link.active,
.class_menu .show>.nav-link {
    color: #fff;
    background-color: var(--hover);
    width: 100%;
    border-radius: 0;
}

.class_menu li button {
    width: 100%;
    padding: 0;
}

.class_item ul{
    display:flex;
    flex-wrap:wrap;
    padding:30px 0;

}
.class_item ul li{
    width:19.65%;
    padding:55px 0;
    background:#f1f1f1;
    margin-right:5px;
    margin-bottom:5px;
    
}
.class_item ul li:hover{
    background:var(--hover);
    color:#fff;
}
.class_item ul li:nth-child(5),
.class_item ul li:nth-child(10){
    margin-right:0;
}
.class_item ul li i{
    font-size:50px;
}









/* =====================================
    class part start
=======================================*/
/* ====================================
    client part start
=======================================*/
.client_slider .slick-slide{
    padding:0 12px;
}
.client_slider .slick-current .img_part{
    box-shadow:0 0 8px 0 #000;
}
.client_slider .draggable{
    padding:10px 0 !important;
}
.nxt_arrw,
.prv_arrw{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    color:red;
    font-size:25px;
    width:40px;
    height:50px;
    line-height:50px;
    z-index:2;
   


}
.nxt_arrw{
    right:-30px;
}
.prv_arrw{
    left:-30px;
}















/* ======================================
    client part end
=======================================*/